doctype
.navbar.navbar-inverse.navbar-fixed-top
	.navbar-inner
		.container
			.navbar-header
				table
					tr
						td
							img(src='images/logo.png' width='35px' heigh='35px')
						td
							a.navbar-brand(href="#") AQ' ANOQ #ObservatorioUSAC
							
table
	td

.container
	div
		.jumbotron
			.row
				.col-md-3#leftCol(style='width=100px;')
					.panel.panel-primary
						.panel-heading CONTROLS
						.panel-body(align='center' style='background-color:#EEEEEE;')
							table
								tr
									td
										table
											tr
												td
													img(src='images/control/1.png' width='35px' heigh='35px')
												td
													img(src='images/control/2.png' width='35px' heigh='35px')
												td
													img(src='images/control/3.png' width='35px' heigh='35px')
											tr
												td
													img(src='images/control/4.png' width='35px' heigh='35px')
												td
													img(src='images/control/5.png' width='35px' heigh='35px')
												td
													img(src='images/control/6.png' width='35px' heigh='35px')
											tr
												td
													img(src='images/control/7.png' width='35px' heigh='35px')
												td
													img(src='images/control/8.png' width='35px' heigh='35px')
												td
													img(src='images/control/9.png' width='35px' heigh='35px')
									td
										table(style='margin:10px;')
											tr
												td
													img(src='images/control/bt1.png' width='35px' heigh='35px')
											tr
												td
													img(src='images/control/bt3.png' width='35px' heigh='35px')
							br
							.input-group
								input.form-control(type='text' placeholder='Search star...')
								span.input-group-btn
									button.btn.btn-default Go!
				.col-md-9#mainCol 
					img(src='/images/moon.gif' width='100%')
					.alert.alert-success(role='alert') Controlling remote telescope from 192.168.1.23
		.page-header